@font-face {
  font-family: 'Splatfont';
  src: url('../font/Splatfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Splatfont2';
  src: url('../font/Splatfont2.ttf') format('truetype');
}

[v-cloak] {
  display: none;
}

body {
  font-family: 'Splatfont2' !important;
}

:global(.content) {
  margin: 16px auto;
  padding: 80px 16px;
  max-width: 800px;
  min-width: 250px;
}

:global(.mdc-toolbar-title),
:global(.mdc-typography--display1),
:global(.mdc-typography--headline) {
  font-family: 'Splatfont' !important;
}

:global(.mdc-button),
:global(.mdc-card__title),
:global(.mdc-card__supporting-text),
:global(.mdc-form-field),
:global(.mdc-typography--body1) {
  font-family: 'Splatfont2' !important;
}

:global(.mdc-typography--display1) {
  margin-top: 0;
}

:global(.demo-enter-active),
:global(.demo-leave-active) {
  transition: transform 0.5s, opacity 0.5s;
}
:global(.demo-move):not(:global(.demo-leave-active)) {
  transition: transform 0.5s;
}
/* 表示される時は上からスライド */
:global(.demo-enter) {
  opacity: 0;
  transform: translateY(-20px);
}
/* 消える時は縮小される */
:global(.demo-leave-to) {
  opacity: 0;
  transform: scale(0.8);
}
:global(.demo-leave-active) {
}
